NEXT_PUBLIC_KAKAO_MAP_KEY=

API_BASE_URL=
# TODO: [FastAPI 교체] FastAPI 서버 주소
# API_BASE_URL=http://your-ec2-host:8000

# OpenAI 직접 연결 (현재 활성)
OPENAI_API_KEY=
OPENAI_MODEL_NAME=

# Vercel
VERCEL_TOKEN=
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=