NEXT_PUBLIC_KAKAO_MAP_KEY=your_kakao_map_key_here
API_BASE_URL=http://localhost:8000/api

# 추가 환경변수는 여기에 계속 추가

# Vercel
VERCEL_TOKEN=your_vercel_token_here
VERCEL_ORG_ID=your_vercel_org_id_here
VERCEL_PROJECT_ID=your_vercel_project_id_here