# App
APP_ENV=development
APP_PORT=8000

# Database
DATABASE_URL=your_database_url

# AI API
OPENAI_API_KEY=your_openai_api_key

# 공공데이터
PUBLIC_DATA_API_KEY=your_public_data_api_key

# AWS
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_S3_BUCKET_NAME=your_bucket_name

SUPABASE_URL=
SUPABASE_KEY=